*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,body{
   height: 100%;
   width: 100%;
}
#main{
        height: 100%;
        width: 100%;
        background-color: rgba(147, 147, 127, 0.623);
}
.nav{
    height: 100px;
    width: 100vw;
    border-bottom: #000 solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: beige;
    /* margin-top: 20px; */
    position: absolute;
    top: 0.4vh;
    border-bottom: #000;
}
.left>img{
    height: 255px;
    margin-left: 10px;
    margin-top: 20px;
}
.right{
    margin-right: 100px;
}
.right a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 3vh;
    color: #000;
}
.center{
    height: 60%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: red;
    overflow: hidden;
}
.imagediv{
    height: 240px;
    width: 160px;
    position: absolute;
    overflow: hidden;
    transform: rotate(50%);
}
.imagediv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateY(100%);
}